body {
  background-color: whitesmoke;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  max-width: 900px;
  margin: auto;
}

#title,
.subtitle,
.post_title {
  color: yellow;
  border: 2px solid red;
  background-color: blue;
  text-align: center;
}

.header_image {
  border-radius: 50%;
  border: 3px solid black;
  margin-left: 25px;
  width: 25%;
}

#title {
  font-size: 40px;
  text-transform: uppercase;
}

a {
  text-decoration: underline;
}

.post_title {
  font-size: 16px;
  font-style: italic;
  margin: 0;
  margin-bottom: 10px;
}

.post {
  background-color: wheat;
  padding: 25px;
  border: 3px solid black;
  margin-bottom: 15px;
  border-radius: 3% 1%;
}

.post_image {
  margin-bottom: 15px;
  width: 100%;
}

.post_content {
  margin: 0;
  margin-bottom: 15px;
  text-transform: capitalize;
  text-align: justify;
}

.contacts_list {
  padding: 0;
  padding-left: 25px;
  list-style-type: none;
}

.contacts_list li a {
  text-decoration: none;
  color: blue;
}
